<header>
  <h1 class="hero-header">Khalil Martin MASc.</h1>
  <div class="hero-container">
    <img src="{{ "/assets/portrait.JPG"}}" class="portrait-image">
    <div class="hero-right">
      <div class="hero-text">
        <p>Hello.</p>
        <p>I am a heavy reader and occasional writer, currently heavily engaged in Urban Studies and Media Studies.</p>
        <p>Below you will find some of my writings and projects, some of which evolved out of my graduate work under Dr. Eric Miller at the University of Toronto.</p>
        <p>Reach out.</p>
        <p>- Khalil</p>
      </div>
      <div class="social-links-hdr-container">
        <div class="social-links-hdr-inner">
          <a href="mailto:KhalilJMartin@gmail.com" class="tooltipped tooltipped-s" aria-label="email" target="_blank">
            <img class="contact-icon" src="{{ "/assets/dark-email.png"}}" /><span class="d-none">email</span>
          </a>
        </div>
        <div class="social-links-hdr-inner">
          <a href="https://www.linkedin.com/in/khaliljmartin/" class="tooltipped tooltipped-s" aria-label="LinkedIn" target="_blank">
            <img class="contact-icon" src="{{ "/assets/LI-In-Bug.png"}}" /><span class="d-none">LinkedIn</span>
          </a>
        </div>
        <div class="social-links-hdr-inner">
          <a href="https://github.com/kjrm" class="tooltipped tooltipped-s" aria-label="Github" target="_blank">
            <img class="contact-icon" src="{{ "/assets/GitHub-Mark.png"}}" /><span class="d-none">Github</span>
          </a>
        </div>
        <div class="social-links-hdr-inner">
          <a href="https://www.goodreads.com/user/show/10117902-khalil-martin" class="tooltipped tooltipped-s" aria-label="Goodreads" target="_blank">
            <img class="contact-icon" src="{{ "/assets/goodreads_logo.png"}}" /><span class="d-none">Github</span>
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
</header>
