---
---
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';


// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  ul, ol {
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul, li ol {
    padding-left: 16px;
    margin-bottom: 0px;
  }
}

.min-height-full {
  min-height: 100vh;
}
.hompage {
  min-height: 85vh;
}

.color-accent {
  // background: linear-gradient(#5208ff, #4a05ed);
  background: linear-gradient(40deg, #2c293a, #211f2d);
  height: 40px;
  margin-bottom: 20px;
}

.color-accent-blog {
  // background: linear-gradient(#5208ff, #4a05ed);
  background: linear-gradient(40deg, #bd0b4d, #7b184a);
  height: 40px;
  margin-bottom: 20px;
}

.portrait-image {
  width: 300px;
  height: 400px;
}

.hero-container {
  display: flex;
  flex-direction: row;
  font-family: helvetica;
}

.hero-header {
 font-size: 40px;
 margin-bottom: 30px;
 text-align: start;
 font-family: helvetica;
}

.hero-subtext {
  color: #8c8b8e;
  font-size: 34px;
}

.hero-right {
 padding-left: 40px;
}

.hero-text {
  text-align: start;
  font-size: 24px;
  margin-bottom: 30px;
}

.seperator {
  margin-bottom: 10px;
}

.social-links-hdr-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-links-hdr-inner {
  padding: 10px 0;
  margin-right: 10px;
 }

.contact-icon {
  max-height: 32px;
  max-width: 32px;
}

.sub-header {
  font-size: 35px;
  margin-bottom: 30px;
  text-align: start;
  font-family: helvetica;
}

.top-bar {
  background-color: #bd0b4d;
}

.post-card {
  color: black;
  transition: 0.2s;
}

.post-card:hover{
  position: relative; 
  transform: translateY(-5px);
  box-shadow: 0 5px 7px rgba(27,31,35,0.15) !important;;
} 

.custom-footer {
  color: #ffffff;
  text-align: center;
  padding: 50px;
  background: linear-gradient(40deg, #2c293a, #211f2d);
}

.social-links-ftr-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-links-ftr-inner {
 padding: 0 10px;
}

@media only screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
  }

  .portrait-image {
    max-width: 300px;
    max-height: 400px;
    margin-bottom: 30px;
  }

  .hero-right {
    padding-left: 0;
   }
}
